.DS_Store
auto-save-list
elpa
ido.last
custom.el
transient
.mc-lists.el
tramp
%backup%~
.lsp-session*
recentf
url
elfeed
bookmarks
project
eln-cache
games
zshrc-e
*~
newsticker
network-security.data
data
